# Python Einführung
## Basics
Das ist eine Markdown-Zelle für Kommentare

In [1]:
print ("Hello world!")

Hello world!

# Kommentare

In [2]:
# Das ist ein Kommentar
print("Hello world!")

Hello world!

## Einfache Datentypen

In [3]:
# Variablen und Wertezuweisung (Value-Assignment)
# String = Zeichenkette
name = "Hawking"
print(name)

Hawking

In [4]:
# Integer = Ganzzahl
age = 73
print(age)

73

In [5]:
# Float = Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [7]:
# Bolean = Boolscher Wert
is_scientist = True
print(is_scientist)

True

In [8]:
type(name)

str

In [9]:
print(name)
print(age)

Hawking
73

## Operatoren

In [10]:
5 + 5

10

In [11]:
age * 100

7300

In [12]:
name * 10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [13]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [14]:
name + "10"

'Hawking10'

In [15]:
size/age

0.023456164383561642

In [16]:
number_of_articles = "50"

In [17]:
int(number_of_articles) / 10

5.0

In [19]:
# Befehl für Jupyter-Notebook
%who

age	 is_scientist	 name	 number_of_articles	 size

## Funktionen und Methoden

In [20]:
len(name)

7

In [21]:
name.upper()

'HAWKING'

In [22]:
name = name.upper()
print(name)

HAWKING

In [23]:
name.replace("W", "BLAAAAAAAAAAA")

'HABLAAAAAAAAAAAKING'

In [24]:
first_name = "Anna"

In [25]:
first_name.count("A")

1

In [29]:
first_name + " " + name

'Anna HAWKING'

## Listen und Dictionaries

In [30]:
names = ["Darwin", "Hawking", "Curie"]

In [31]:
names[1]

'Hawking'

In [32]:
names[0]

'Darwin'

In [33]:
names[2]

'Curie'

In [34]:
len(names)

3

In [35]:
names[-1]

'Curie'

In [36]:
names[0:2]

['Darwin', 'Hawking']

In [37]:
slice_value = 2

In [38]:
names[slice_value]

'Curie'

In [39]:
names[1:]

['Hawking', 'Curie']

In [40]:
names[0:]

['Darwin', 'Hawking', 'Curie']

In [42]:
# Dictionary
authors_and_ages = {"Darwin": 73, "Goethe": 83, "Lovelace": 37}

In [43]:
authors_and_ages["Darwin"]

73

In [44]:
names.append("Kleist")

In [45]:
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [46]:
authors_and_ages["Rowling"] = "53"

In [47]:
authors_and_ages

{'Darwin': 73, 'Goethe': 83, 'Lovelace': 37, 'Rowling': '53'}

## for-Schleife

In [49]:
for name in names:
    print(name)

Darwin
Hawking
Curie
Kleist

In [52]:
for name in names:
    print(name + " is a great name")

Darwin is a great name
Hawking is a great name
Curie is a great name

In [51]:
names.remove("Kleist")

In [53]:
del(names[0])

## Bedingte Anweisungen (Conditionals)

In [60]:
temp = 20
if temp > 15:
    print("It's warm")
if temp < 15:
    print("It's cold")

It's warm

In [64]:
temp = 15
if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's warm